a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_e4bf9ac a { text-decoration: none; }
#menu_e4bf9ac_pane { background-color: #E6E6E6; border: 1px solid #E6E6E6; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_e4bf9ac_hr { background-color: #E6E6E6; height: 1px; border: none; }
#menu_e4bf9ac_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_e4bf9ac_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_e4bf9ac_entry:hover span { color:#FFFFFF !important; }
		.menu_e4bf9ac_mainMenuEntry { text-align: center; }
		.menu_e4bf9ac_mainMenuEntry:hover {	background-color:#282828; }
		.menu_e4bf9ac_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_e4bf9ac .mobileEntry { display: none; } 
		#menu_e4bf9ac .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_e4bf9ac .mobileEntry { display: block; } 
			#menu_e4bf9ac .normalEntry { display: none; } 
		}
#gallery_4d3010c9 div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_4d3010c9 div.galleryimgcontainer img {  width: 100%;  height: auto;  } 
@media only screen and (max-width:520px) { #gallery_4d3010c9 div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_4d3010c9 div.galleryimgcontainer { width: 100%; } } 
#table_3c89489e th { border: 1px solid #8C8C8C;  } 
#table_3c89489e td { border: 1px solid #8C8C8C;  } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#menu_e4bf9ac { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#E5E5E5; background: linear-gradient(to bottom, #FFFFFF, #E5E5E5); border: 1px solid #A0A0A0;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:37px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:258px; height:38px; left:10px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle3 { position:absolute; width:185px; height:38px; left:268px;  }
.menustyle4 { position:absolute; width:197px; height:38px; left:453px;  }
#container_25ee779 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#00FFFF;  }
#container_25ee779_padding { margin: 10px; display: block;  }
#text_3a151bc { position:absolute; left:2%; top:21%; width:764px; height:72px; background:none;  }
.textstyle4 { text-align:center; }
.textstyle5 { font-size:48pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#000000;  }
#container_62cf37c8 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:102%; min-height:421px; background-color:#B8DE9C; background: linear-gradient(to bottom, #808040, #B8DE9C); border: 1px solid #545454;  }
#container_62cf37c8_padding { margin: 10px; display: block;  }
#button_6ec4f2a { box-sizing: border-box; position:absolute; left:15%; top:14%; width:150px; height:40px; background-color:#5C0400; background: linear-gradient(to bottom, #A90800, #5C0400); border: 2px solid #200100;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#audio_94f4ad3 { position:absolute; left:39%; top:8%; width:220px; height:32px; background:none;  }
#gallery_4d3010c9 { overflow:hidden; position:absolute; left:17%; top:46%; width:40%; min-height:106px;  }
#table_3c89489e { box-sizing: border-box; position:absolute; left:70%; top:5%; width:29%; height:210px; background:none; border: 1px solid #8C8C8C; table-layout: fixed;  }
#cell_6df3d864 {  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#cell_4c7cc58a {  }
#cell_6933d5ab {  }
#cell_43c64280 {  }
#cell_76543de1 {  }
#cell_470ac4dd {  }
#cell_5c19d71c {  }
#cell_3bd38d17 {  }
#cell_16feeedf {  }
#cell_428514aa {  }
#cell_9e8f6cb {  }
#cell_3a687b5a {  }
#cell_27fdaa10 {  }
#cell_2cec44a1 {  }
#cell_23c309f5 {  }
#cell_7635e4ac {  }
#cell_6f0ee363 {  }
#cell_b0df8f6 {  }
#cell_29067862 {  }
#cell_18a8c6ca {  }
#cell_2babed2f {  }
#pdf_5ab47418 { box-sizing: border-box; position:absolute; left:46%; top:62%; width:21%; height:300px; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#button_5d96740 { box-sizing: border-box; border-radius: 15px 0px 15px 0px; position:absolute; left:5%; top:76%; width:150px; height:40px; background-color:#5B461C; background: linear-gradient(to bottom, #A78033, #5B461C); border: 2px solid #1F1809;  }
#button_6f28f537 { border-radius: 5px; position:absolute; left:70%; top:71%; width:145px; height:40px; background-color:#93A848; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_1b67dbf0 { box-sizing: border-box; border-radius: 9px; position:absolute; left:9%; top:32%; width:399px; height:40px; background-color:#9B6983; background: linear-gradient(to bottom,#9B6983, #452F3A 50%, #36242D 50%, #261A20); border: 2px solid #51373E;  }
#form_6c4cca11 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#form_6c4cca11_padding { margin: 10px; display: block;  }
#checkbox_58e5cd38 { vertical-align: bottom; position:relative; display: inline-block; width:20px; height:20px;  }
#edit_101b899d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:150px; height:30px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#datepicker_594183a4 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:120px; height:25px; background-color:#FFFFFF; border: 1px solid #A0A0A0; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#video_65d4ce54 { box-sizing: border-box; position:absolute; left:69%; top:113%; width:50%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
#video_66a77ee4 { box-sizing: border-box; position:absolute; left:11%; top:142%; width:50%; background-color:#D1D1D1; border: 1px solid #A0A0A0;  }
